/*Jack's Mobile CSS*/

@media screen and (max-width: 640px) {

        .container-mobile {

        }

        .no-mobile {
            display:none;
        }
        /* "no-mobile" idea from: https://stackoverflow.com/questions/17762354/remove-element-for-certain-screen-sizes*/

        .full-mobile {
          width: 100%;
        }

        .half-mobile {
          width: 50%;
          float: left;
        }

        .third-mobile {
          width: 33%;
          float: left;
        }


        /*MOBILE DASHBOARD*/
        /*.sprite-dash-green {
          transform: scale(0.5);
        }

        .sprite-customer-blue {
          transform: scale(0.5);
        }

        .sprite-messages-blue {
          transform: scale(0.5);
        }

        .sprite-page-blue {
          transform: scale(0.5);
        }

        .sprite-promotions-blue {
          transform: scale(0.5);
        }

        .sprite-analytics-blue {
          transform: scale(0.5);
        }*/
/*
        ul > li {
          height: 50px;
          width: auto;
        }*/

        .wrapper ul {
          display: block;
        }

        .wrapper li {
          float: left;
        }

        .header-bg {
          background-image: none;
        }

        .mobile-header {
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 0px;
          width: 118px;
        }

        .flex-dash {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 430px;
          margin-top: 30px;
          background-color: #144770;
          background-size: cover;
          border-radius: 5px;
        }

        .flex-dash-item {
          width: auto;
          height: 55px;
          margin: 5px;
          align-items: center;
          background-color: #144770;
          background-size: cover;

        }

        /*MOBILE DASHBOARD*/
        .mobile-dashboard {
          float: right;
          width: 60%;
          z-index: 100;
          position: absolute;
          top: 8%;
          right: 2%;
        }

        .mobile-dash-text {
          background-color: white;
          height: 70px;
          text-align: left;
          margin-top: 20px;
          padding-left: 0px;
        }

        .mobile-dash-text2 {
          background-color: white;
          height: 70px;
          text-align: left;
          margin-top: 0px;
          padding-left: 0px;
        }

        .mobile-dash-head {
          font-family: Myriad Pro, sans-serif;
          font-size: 46px;
          color: #33cc66;
          font-weight: 100;
        }

        .input-group {
          margin-top: 0px;
          margin-right: 6px;
          height: 33px;
          width: 200px;
          float: right;
        }


        .input-group-btn {
          background-color: transparent;
          margin-left: -30px;
        }

        .input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group {
          background-color: transparent;
          background-image: url(../search.png);
          padding: 0px;
          z-index: 100;
        }


        /*MOBILE TEXTBAR */
        .container-grad {
          background-image: url(../grad-bg.png);
          width: 100%;
          height: 500px;
          margin-top: 20px;
          background-repeat: no-repeat;
          background-size: cover;
        }

        .container-text {
          background-color: white;
          border-style: solid;
          border-color: #eeeeee;
          border-width: thin;
          border-bottom: none;
          margin-top: 15px;
          margin-left: 15px;
          margin-right: 15px;
          float: left;
          width: 205px;
          text-align: center;
          position: absolute;
          top: 25%;
          right: 2%;
          z-index: 102;
        }

        .container-text-2 {
          background-color: white;
          border-style: solid;
          border-color: #eeeeee;
          border-width: thin;
          border-top: none;
          border-bottom: none;
          margin-top: 10px;
          margin-left: 15px;
          margin-right: 15px;
          float: left;
          width: 205px;
          text-align: left;
          position: absolute;
          top: 30%;
          right: 2%;
          z-index: 101;
        }

        .container-text-3 {
          background-color: white;
          border-style: solid;
          border-color: #eeeeee;
          border-width: thin;
          border-top: none;
          margin-top: 10px;
          margin-left: 15px;
          margin-right: 15px;
          padding-bottom: 15px;
          float: left;
          width: 205px;
          text-align: left;
          position: absolute;
          top: 45%;
          right: 2%;
          z-index: 101;
        }

        .announce {
          color: #fe7f13;
          margin-left: 0px;
          font-size: 0.8em;
          font-family: 'Myriad Pro', sans-serif;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .text-bar {
          height: 0px;
        }

        .arrow1 {
          padding-top: 12px;
          padding-left: 37%;
          padding-right: 5px;
        }

        .arrow2 {
          padding-top: 12px;
          padding-right: 23%;
        }

        /*random mobile ad*/
        .container-ad3 {
          transform: scale(0.8);
          width: 33%;
          height: 164px;
          margin: 30px auto;
          float: left;
          position: absolute;
          top: 49%;
          right: 34%;
          z-index: 103;
        }


        /*MOBILE TASK SECTION*/
        .mobile-task {
          width: 100%;
          height: 280px;
          float: left;
          position: relative;
          top: 2%;
          z-index: 104;
        }

        .mobile-task-title {
          width: 100%;
        }

        .mobile-task-item {
          width: auto;
          float: left;
          padding-right: 5px;
        }

        .mobile-task-item2 {
          width: 160px;
          float: right;
        }


        /*MOBILE ANALYTICS SECTION*/
        .mobile-analytics {
          width: 100%;
          height: 700px;
          float: left;
          position: relative;
          top: 2%;
          z-index: 105;
        }

        .mobile-analytics-row {
          width: 100%;
          float: left;
        }

        .mobile-analytics-row2 {
          width: auto;
          float: left;
          margin-left: 15px;
          margin-right: 15px;
        }

        .mobile-analytics-row3 {
          width: auto;
          float: left;
          margin-left: 50px;
          margin-right: 15px;
        }

        .mobile-analytics-row4 {
          width: auto;
          float: left;
          margin-left: 20px;
          margin-right: 15px;
        }

        .main-chart {
          background-image: url(../images/chart-final.png);
          background-repeat: no-repeat;
          /*background-size: cover;*/
          height: 300px;
          padding-bottom: 30px;
          transform: scale(0.7);
        }

        .container-checkboxes {
          width: 50%;
          float: left;
          padding-top: 20px;
          padding-left: 10%;
          position: relative;
          top: -30%;
        }


        /*MOBILE RECOMMENDATIONS SECTION*/
        .mobile-rec {
          width: 100%;
          height: 280px;
          float: left;
          position: relative;
          top: 5%;
          z-index: 105;
        }

        .mobile-rec-row {
          width: 100%;
          float: left;
        }

        .mobile-rec-title {
          width: 100%;
        }

        .mobile-rec-item {
          width: auto;
          float: left;
          padding-right: 5px;
        }

        .mobile-rec-item2 {
          width: 160px;
          float: right;
        }


        /*MOBILE CONTACTS SECTION*/
        .mobile-contact {
          width: 100%;
          height: 280px;
          float: left;
          position: relative;
          top: 5%;
          z-index: 106;
        }

        .mobile-contact-row {
          width: 100%;
          float: left;
        }



        /*MOBILE CALLOUT SECTION*/
        .mobile-callout {
          width: 100%;
          height: 180px;
          float: left;
          position: relative;
          top: 60%;
          z-index: 106;
        }

        .mobile-callout-row {
          width: 100%;
          float: left;
        }



        /*MOBILE ADS SECTION*/
        .mobile-ad {
          width: 100%;
          height: 280px;
          float: left;
          position: relative;
          top: 50%;
          z-index: 107;
        }

        .mobile-ad-row {
          width: 100%;
          height: auto;
          float: left;
          position: relative;
          top: 160%;
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .container-ads {
          width: 100%;
          background-color: white;
          height: 224px;
          float: left;
        }


        /*MOBILE FOOTER SECTION*/
        /*.mobile-foot {
          width: 100%;
          height: 280px;
          float: left;
          position: relative;
          top: 200%;
        }

        .mobile-foot-row {
          width: 100%;
          height: auto;
          float: left;
        }*/


        /*.topnav-mini {
          background-color: purple;
          height: 30px;
          width: 50%;
          float: left;
        }

        .topnav-buttons {
          background-color: pink;
          height: 30px;
          width: 50%;
          float: left;
        }

        .dash {
          background-color: red;
          height: 50px;
          text-align: center;
          width: 50%;
          float: left;
        }

        .mobile-bar1 {
          width: 30%;
          float: left;
        }

        .mobile-bar2 {
          width: 60%;
          float: left;
        }

        .mobile-bar3 {
          width: 10%;
          float: left;
        }

        .container-task {
          width: 100%;
          background-color: orange;
          height: 150px;
          float: left;
        }

        .container-analytics {
          width: 100%;
          background-color: brown;
          height: 180px;
          float: right;
        }

        .container-rec {
          width: 100%;
          background-color: gray;
          height: 300px;
          float: left;
        }

        .container-contacts {
          width: 100%;
          background-color: teal;
          height: 170px;
          float: right;
        }

        .container-callout {
          width: 100%;
          background-color: violet;
          height: 100px;
          float: right;
        }

        .container-ads {
          width: 100%;
          background-color: blue;
          height: 500px;
          float: left;
        }

        .container-ad1 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-ad2 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-ad3 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-foot1 {
          width: 100%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

        .container-foot2 {
          width: 50%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

        .container-foot3 {
          width: 50%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }*/

}
