/*Jack's Mobile CSS*/

@media screen and (max-width: 640px) {

        .no-mobile {
            display:none;
        }
        /* "no-mobile" idea from: https://stackoverflow.com/questions/17762354/remove-element-for-certain-screen-sizes*/

        .full-mobile {
          width: 100%;
        }

        .half-mobile {
          width: 50%;
          float: left;
        }

        .third-mobile {
          width: 33%;
          float: left;
        }


        /*MOBILE DASHBOARD*/
        /*.sprite-dash-green {
          transform: scale(0.5);
        }

        .sprite-customer-blue {
          transform: scale(0.5);
        }

        .sprite-messages-blue {
          transform: scale(0.5);
        }

        .sprite-page-blue {
          transform: scale(0.5);
        }

        .sprite-promotions-blue {
          transform: scale(0.5);
        }

        .sprite-analytics-blue {
          transform: scale(0.5);
        }*/
/*
        ul > li {
          height: 50px;
          width: auto;
        }*/

        .wrapper ul {
          display: block;
        }

        .wrapper li {
          float: left;
        }

        .header-bg {
          background-image: none;
        }

        .mobile-header {
          padding-top: 10px;
          padding-left: 10px;
          padding-right: 0px;
          width: 118px;
        }

        .flex-dash {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 430px;
          margin-top: 30px;
          background-color: #144770;
          background-size: cover;
          border-radius: 5px;
        }

        .flex-dash-item {
          width: auto;
          height: 55px;
          margin: 5px;
          align-items: center;
          background-color: #144770;
          background-size: cover;

        }

        /*.topnav-mini {
          background-color: purple;
          height: 30px;
          width: 50%;
          float: left;
        }

        .topnav-buttons {
          background-color: pink;
          height: 30px;
          width: 50%;
          float: left;
        }

        .dash {
          background-color: red;
          height: 50px;
          text-align: center;
          width: 50%;
          float: left;
        }

        .mobile-bar1 {
          width: 30%;
          float: left;
        }

        .mobile-bar2 {
          width: 60%;
          float: left;
        }

        .mobile-bar3 {
          width: 10%;
          float: left;
        }

        .container-task {
          width: 100%;
          background-color: orange;
          height: 150px;
          float: left;
        }

        .container-analytics {
          width: 100%;
          background-color: brown;
          height: 180px;
          float: right;
        }

        .container-rec {
          width: 100%;
          background-color: gray;
          height: 300px;
          float: left;
        }

        .container-contacts {
          width: 100%;
          background-color: teal;
          height: 170px;
          float: right;
        }

        .container-callout {
          width: 100%;
          background-color: violet;
          height: 100px;
          float: right;
        }

        .container-ads {
          width: 100%;
          background-color: blue;
          height: 500px;
          float: left;
        }

        .container-ad1 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-ad2 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-ad3 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-foot1 {
          width: 100%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

        .container-foot2 {
          width: 50%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

        .container-foot3 {
          width: 50%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }*/

}
