/*Jack Molloy's Style*/

/*ALL TEXT STUFF*/
p {
  margin-bottom: 0px;
  padding-top: 10px;
}

p.task-text {
  font-family: 'Myriad Pro', sans-serif;
  color: #2498f3;
  font-size: 1.15em;
  padding-top: 0px;
}

p.task-text2 {
  font-family: 'Myriad Pro', sans-serif;
  color: #cccccc;
  font-size: 1.15em;
  padding-top: 0px;
}

p.checkbox-text {
  font-family: 'Myriad Pro', sans-serif;
  color: white;
  font-size: 12px;
  padding-top: 0px;
  padding-left: 5px;
}

p.rec-small {
  color: #999999;
  font-size: 0.4em;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
  padding-top: 6px;
}

p.rec-big {
  color: #999999;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
  padding-top: 0px;
  margin-top: -4px;
}

p.text-bar-text {
  color: #777777;
  font-size: 14px;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
  padding-top: 14px;
  padding-left: 10px;
}


h1 {
  font-family: Myriad Pro, sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 100;
}

h1.tasks {
  font-family: Myriad Pro, sans-serif;
  font-size: 36px;
  color: #2498f3;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1.analytics {
  font-family: Myriad Pro, sans-serif;
  font-size: 34px;
  color: #2498f3;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-top: 35px;
  margin-bottom: 10px;
}

h1.recommendations {
  font-family: Myriad Pro, sans-serif;
  font-size: 32px;
  color: #2498f3;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3.contact {
  font-family: Myriad Pro, sans-serif;
  font-size: 21px;
  color: white;
  text-align: center;
  margin-left: 54.5px;
  margin-top: 8px;
  margin-bottom: 0px;
}

h4.contact2 {
  font-family: Myriad Pro, sans-serif;
  font-size: 11px;
  color: white;
  text-align: center;
  margin-left: 76.5px;
  margin-top: 0px;
  margin-bottom: 3px;
}

h3.contact-orange {
  font-family: Myriad Pro, sans-serif;
  font-size: 21px;
  color: white;
  text-align: center;
  margin-left: 48.5px;
  margin-top: 8px;
  margin-bottom: 0px;
}

h4.contact2-orange {
  font-family: Myriad Pro, sans-serif;
  font-size: 11px;
  color: white;
  text-align: center;
  margin-left: 78.5px;
  margin-top: 0px;
  margin-bottom: 3px;
}


.container {
  max-width: 970px;
}

.no-pad {
  padding: 0px;
}

.no-right-pad {
  padding-right: 0px;
}

.no-left-pad {
  padding-left: 0px;
}

.no-top-pad {
  padding-top: 0px;
}

.no-bottom-pad {
  padding-bottom: 0px;
}

/*TOP NAV*/
.topnav-space {
  background-color: linear-gradient(-90deg, #2498f4, #1d85d8);
  height: 30px;
}

.topnav-mini {
  background-color: linear-gradient(-90deg, #2498f4, #1d85d8);
  height: 30px;
}

.topnav-buttons {
  background-color: linear-gradient(-90deg, #2498f4, #1d85d8);
  height: 30px;
}

.top-nav-bg {
  background-image: url(../images/top-nav-bg.png);
}

/*HEADER AND ICONS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  float: left;
}

.wrapper {
  text-align: center;
}

.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}

.wrapper li {
  float: left;
  padding: 2px 5px;
  border: 1px;
}

.header-bg {
  background-image: url(../images/header-bg.png);
}
/*all "wrapper" code came from: https://stackoverflow.com/questions/1708054/center-ul-li-into-div    */

.chevron {
  /*vertical-align: top;
  display: inline-block;*/
  position: absolute;
  bottom: 0px;
  left: 20%;
}

.sprite-customer-blue:hover {
  background: url(../spritesheet.png) -5px -109px;
}

.sprite-messages-blue:hover {
  background: url(../spritesheet.png) -103px -213px;
}

.sprite-page-blue:hover {
  background: url(../spritesheet.png) -299px -5px;
}

.sprite-promotions-blue:hover {
  background: url(../spritesheet.png) -299px -213px;
}

.sprite-analytics-blue:hover {
  background: url(../spritesheet.png) -103px -5px;
}


/*DASHBOARD*/
.dash {
  background-color: #33cc66;
  height: 70px;
  text-align: center;
  margin-top: 20px;
}

.dash-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.dash-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-left: 40px;
}
/*rounded corners came from: https://www.w3schools.com/css/css3_borders.asp*/


.input-group {
  margin-top: 17px;
  margin-right: 10px;
  height: 33px;
  width: 258px;
}


.input-group-btn {
  background-color: transparent;
  margin-left: -30px;
}

.input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group {
  background-color: transparent;
  background-image: url(../search.png);
  padding: 0px;
  z-index: 100;
}

/*TEXT BAR AND GRADIENT BG*/
.container-grad {
  background-image: url(../grad-bg.png);
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-text {
  background-color: white;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  width: 15%;
  text-align: left;
}

.container-text-2 {
  background-color: white;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  margin-top: 15px;
  float: left;
  padding-right: 0px;
  width: 70%;
  text-align: left;
}

.container-text-3 {
  background-color: white;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  margin-top: 15px;
  float: left;
  padding-right: 0px;
  width: 12%;
  text-align: left;
}

.announce {
  color: #fe7f13;
  margin-left: 20px;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-bar {
  height: 60px;
}

.arrow1 {
  padding-top: 12px;
  padding-left: 25%;
  padding-right: 5px;
}

.arrow1:hover {
  transform: scale(1.1);
}

.arrow2 {
  padding-top: 12px;
  padding-right: 23%;
}

.arrow2:hover {
  transform: scale(1.1);
}

/*TASK MENU*/
.container-task {
  width: 33%;
  background-color: white;
  height: 300px;
  float: left;
  padding-left: 15px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
}


.task-row {
  border-bottom: thin solid #eeeeee;
  padding-top: 5px;
  filter: grayscale(0) opacity(1);
  transition: .05s ease-in-out;
}

.task-row:hover {
  filter: grayscale(1) opacity(0.55);
}
/*https://www.w3schools.com/cssref/css3_pr_filter.asp*/

.task-row-bottom {
  border-bottom: none;
}

.task-text-box {
  padding-top: 9px;
  padding-left: 0px;
}

.sprite-two-gray:hover {
  background: url(../spritesheet2.png) -214px -170px;
}

.sprite-two-gray:hover ~.sprite-36-gray {
  background: url(../project1/spritesheet2.png) -84px -60px;
}

.settings-icon {
  padding-top: 14px;
}


/*ANALYTICS SECTION*/
.container-analytics {
  width: 66%;
  background-color: white;
  height: 420px;
  padding-left: 15px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  float: right;
}

.container-charts {
  width: 80%;
  padding-left: 20px;
  padding-top: 0px;
  float: left;
}

.container-charts2 {
  width: 18%;
  float: right;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-left-width: medium;
}

.analytics-text {
  color: #999999;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
  margin-left: 0px;
}

.analytics-text2 {
  color: #999999;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 20px;
}

p.analytics-text2 {
  color: #999999;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 20px;
}

.pie-chart {
  margin-left: 10px;
}

.main-chart {
  background-image: url(../images/chart-final.png);
  background-repeat: no-repeat;
  /*background-size: cover;*/
  height: 212px;
  padding-bottom: 30px;
}

.flex-analytics {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}

.flex-analytics-item {
  width: auto;
  height: 30px;
  margin: 5px;
  align-items: center;

}

input[type="checkbox"] {
    width: 0;
    height: 0;
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left;
}

input[type="checkbox"]:before {
    content: url(../images/checkbox.png);
    display: block;
    width: 18px;
    height: 18px;
    overflow: visible;
    margin-right: -30px;
    /*float: left;*/
}

input[type="checkbox"]:checked:before {
    content: url(../images/checkbox-check.png);
    position: relative;
    left: -3px;
    top: -3px;
    float: left;
}

/*input[type="checkbox-1"]:before {
    content: url(../images/checkbox.png);
    display: block;
    width: 18px;
    height: 18px;
    overflow: visible;
}

input[type="checkbox-1"]:checked:before {
    content: url(../images/checkbox-check.png);
    position: relative;
    left: -3px;
    top: -3px;
}*/
/*http://jsfiddle.net/eliranmal/DwArh/*/

.container-checkboxes {
  width: 100%;
  float: left;
  padding-top: 20px;
}

.facebook {
  background-image: url(../images/fb.png);
  width: 70px;
  height: 16px;
  float: left;
  margin-top: 1px;
  margin-left: 23px;
}

.twitter {
  background-image: url(../images/tw.png);
  width: 54px;
  height: 16px;
  float: left;
  margin-top: 1px;
  margin-left: 23px;
}

.foursquare {
  background-image: url(../images/foursquare.png);
  width: 79px;
  height: 16px;
  float: left;
  margin-top: 1px;
  margin-left: 23px;
}

.google {
  background-image: url(../images/google.png);
  width: 62px;
  height: 16px;
  float: left;
  margin-top: 1px;
  margin-left: 23px;
}

.drop_list {
    width: 100%;
    height: 30px;
    overflow: hidden;
    background: no-repeat #ffffff;
    border: 1px thin #dddddd;
    background-image: url(../images/select-arrow.png);
    background-position: right;
    padding-right: 10px;
}

.drop_list select{
    -webkit-appearance:none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: transparent;
    padding: 3px;
    font-size: 1.2em;
    height: 30px;
    width: 163px;
    overflow: hidden;
    float: right;
}
/*https://stackoverflow.com/questions/10651235/how-do-you-add-an-add-image-as-drop-down-arrow*/

/*RECOMMENDATIONS SECTION*/
.container-rec {
  width: 33%;
  background-color: white;
  height: 585px;
  float: left;
  padding-left: 15px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
}

.rec-row {
  border-bottom-style: dotted;
  border-bottom-color: #eeeeee;
  border-bottom-width: thin;
  filter: grayscale(0) opacity(1);
  transition: .05s ease-in-out;
}

.rec-row:hover {
  filter: grayscale(1) opacity(0.55);
}


/*CONTACTS SECTION*/
.container-contacts {
  width: 66%;
  background-color: white;
  height: 285px;
  float: right;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
}

.container-contact1 {
  width: 50%;
  float: left;
  background-color: white;
  height: 270px;
  padding-right: 0px;
}

.container-contact2 {
  width: 50%;
  float: left;
  background-color: white;
  height: 270px;
  padding-left: 0px;
}

.container-contact1-mini {
  width: 201px;
  margin-left: 20%;
  background-color: white;
  border-radius: 5px;
  height: 190px;
  margin-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 1px 1px 1px #ccc;
}

.avatar-pic {
    width: 78px;
    height:82px;
    position: absolute;
    margin-left: 61.5px;
    margin-top: -24px;
}

.left-ribbon {
  width: 15px;
  height: 40px;
  position: absolute;
  margin-top: 45px;
  margin-left: -15px;
}

.right-ribbon {
  width: 15px;
  height: 40px;
  position: absolute;
  margin-top: 45px;
  margin-left: 201px;
}

.contact-chart {
  margin-top: 53px;
  width: 90%;
  margin-left: 5%;
}

.contact-bar {
  width: 100%;
  margin: 0px;
  height: 48px;
  background-color: #2394ee;
  position: relative;
  top: 40px;
  text-align: center;
}

.contact-space {
  text-align: center;
}


/*CALLOUT SECTION*/
.container-callout {
  width: 66%;
  background-color: white;
  height: 180px;
  float: right;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
}

.blue-box {
  background-color: #2498f4;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 140px;
}

.callout-back {
  width: 22px;
  height: 50px;
  position: absolute;
  margin-top: 45px;
  margin-left: 0px;
}

.callout-next {
  width: 22px;
  height: 50px;
  position: absolute;
  margin-top: 45px;
  margin-left: 567px;
}

.callout-text {
  color: white;
  font-size: 0.9em;
  font-family: 'Myriad Pro', sans-serif;
  padding-top: 19px;
  padding-left: 80px;
  margin-bottom: 15px;
}

/*ADS SECTION*/
.container-ads {
  width: 100%;
  background-color: #2498f4;
  height: 224px;
  float: left;
}

.container-ad1 {
  width: 33%;
  height: 164px;
  margin: 30px auto;
  float: left;
}

.ad1 {
  width: 284px;
  height: 164px;
  border-radius: 7px;
  margin: 0px auto;
}

.container-ad2 {
  width: 33%;
  height: 164px;
  margin: 20px auto 30px auto;
  float: left;
}

.ad2 {
  width: 284px;
  height: 164px;
  border-radius: 7px;
  margin: 0px auto;
}

.container-ad3 {
  width: 33%;
  height: 164px;
  margin: 30px auto;
  float: left;
}

.ad3 {
  width: 284px;
  height: 164px;
  border-radius: 7px;
  margin: 0px auto;
}


/*FOOTER*/
.container-foot1 {
  width: 33%;
  height: 30px;
  float: left;
  padding: none;
  margin-top: 20px;
  background-color: gray;
}

.container-foot2 {
  width: 33%;
  height: 30px;
  float: left;
  padding: none;
  margin-top: 20px;
  background-color: gray;
}

.container-foot3 {
  width: 33%;
  height: 30px;
  float: left;
  padding: none;
  margin-top: 20px;
  background-color: gray;
}
