/*Jack Molloy's Style*/

/*ALL TEXT STUFF*/
p {
  margin-bottom: 0px;
  padding-top: 10px;
}

p.task-text {
  font-family: 'Myriad Pro', sans-serif;
  color: #2498f3;
  font-size: 1.15em;
  padding-top: 0px;
}

p.task-text2 {
  font-family: 'Myriad Pro', sans-serif;
  color: #cccccc;
  font-size: 1.15em;
  padding-top: 0px;
}

h1 {
  font-family: Myriad Pro, sans-serif;
  font-size: 36px;
  color: white;
  font-weight: 100;
}

h1.tasks {
  font-family: Myriad Pro, sans-serif;
  font-size: 36px;
  color: #2498f3;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1.recommendations {
  font-family: Myriad Pro, sans-serif;
  font-size: 32px;
  color: #2498f3;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3.contact {
  font-family: Myriad Pro, sans-serif;
  font-size: 21px;
  color: white;
  text-align: center;
  margin-left: 50px;
  margin-top: 8px;
  margin-bottom: 0px;
}

h4.contact2 {
  font-family: Myriad Pro, sans-serif;
  font-size: 11px;
  color: white;
  text-align: center;
  margin-left: 72px;
  margin-top: 0px;
  margin-bottom: 3px;
}


/*TOP NAV*/
.topnav-space {
  background-color: linear-gradient(-90deg, #2498f4, #1d85d8);
  height: 30px;
}

.topnav-mini {
  background-color: linear-gradient(-90deg, #2498f4, #1d85d8);
  height: 30px;
}

.topnav-buttons {
  background-color: linear-gradient(-90deg, #2498f4, #1d85d8);
  height: 30px;
}

.top-nav-bg {
  background-image: url(../images/top-nav-bg.png);
}

/*HEADER AND ICONS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
  float: left;
}

.wrapper {
  text-align: center;
}

.wrapper ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}

.wrapper li {
  float: left;
  padding: 2px 5px;
  border: 1px;
}

.header-bg {
  background-image: url(../images/header-bg.png);
}
/*all "wrapper" code came from: https://stackoverflow.com/questions/1708054/center-ul-li-into-div    */


/*DASHBOARD*/
.dash {
  background-color: #33cc66;
  height: 70px;
  text-align: center;
  margin-top: 20px;
}

.dash-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
}

.dash-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/*rounded corners came from: https://www.w3schools.com/css/css3_borders.asp*/

/*TEXT BAR AND GRADIENT BG*/
.container-grad {
  background-image: url(../grad-bg.png);
  width: 100%;
  height: 500px;
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-text {
  background-color: white;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  width: 13%;
  text-align: left;
}

.container-text-2 {
  background-color: white;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  margin-top: 15px;
  float: left;
  padding-right: 0px;
  width: 75%;
  text-align: left;
}

.container-text-3 {
  background-color: white;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  margin-top: 15px;
  float: left;
  padding-right: 0px;
  width: 9.4%;
  text-align: left;
}

.announce {
  color: #fe7f13;
  margin-left: 20px;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-bar {
  height: 60px;
}


/*TASK MENU*/
.container-task {
  width: 33%;
  background-color: white;
  height: 300px;
  float: left;
  padding-left: 15px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
}

.task-row {
  border-bottom: thin solid #eeeeee;
  padding-top: 5px;
}

.task-text-box {
  padding-top: 9px;
  padding-left: 0px;
}

.sprite-two-gray:hover {
  background: url(../spritesheet2.png) -214px -170px;
}

.sprite-two-gray:hover ~.sprite-36-gray {
  background: url(../project1/spritesheet2.png) -84px -60px;
}

.settings-icon {
  padding-top: 14px;
}


/*ANALYTICS SECTION*/
.container-analytics {
  width: 66%;
  background-color: white;
  height: 450px;
  padding-left: 15px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
  float: right;
}

.container-charts {
  width: 80%;
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.container-charts2 {
  width: 18%;
  float: right;
  border-left-style: solid;
  border-left-color: #eeeeee;
  border-left-width: medium;
}

.analytics-text {
  color: #fe7f13;
  font-size: 0.8em;
  font-family: 'Myriad Pro', sans-serif;
  text-align: left;
}

.main-chart {
  background-image: url(../images/chart3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 212px;
  padding-bottom: 30px;
}


/*RECOMMENDATIONS SECTION*/
.container-rec {
  width: 33%;
  background-color: white;
  height: 300px;
  float: left;
  padding-left: 15px;
  border-style: solid;
  border-color: #eeeeee;
  border-width: thin;
}

.flex-rec {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}


/*CONTACTS SECTION*/
.container-contacts {
  width: 66%;
  background-color: teal;
  height: 270px;
  float: right;
}

.container-contact1 {
  width: 50%;
  float: left;
  background-color: white;
  height: 270px;
}

.container-contact1-mini {
  width: 60%;
  margin-left: 20%;
  background-color: white;
  border-radius: 5px;
  height: 190px;
  margin-top: 60px;
  padding-left: 0px;
  padding-right: 0px;
  box-shadow: 0px 1px 1px 1px #ccc;
}

.avatar-pic {
    width: 78px;
    height:82px;
    position: absolute;
    margin-left: 57px;
    margin-top: -24px;
}

.left-ribbon {
  width: 15px;
  height: 40px;
  position: absolute;
  margin-top: 45px;
  margin-left: -15px;
}

.right-ribbon {
  width: 15px;
  height: 40px;
  position: absolute;
  margin-top: 45px;
  margin-left: 193px;
}

.contact-chart {
  margin-top: 53px;
  width: 90%;
  margin-left: 5%;
}

.contact-bar {
  width: 100%;
  margin: 0px;
  height: 48px;
  background-color: #2394ee;
  position: relative;
  top: 40px;
  text-align: center;
}

.contact-space {
  text-align: center;
}


/*CALLOUT SECTION*/
.container-callout {
  width: 66%;
  background-color: violet;
  height: 100px;
  float: right;
}

.container-ads {
  width: 100%;
  background-color: blue;
  height: 200px;
  float: left;
}

.container-ad1 {
  width: 33%;
  background-color: white;
  height: 150px;
  margin: 25px 0;
  float: left;
}

.container-ad2 {
  width: 33%;
  background-color: white;
  height: 150px;
  margin: 25px 0;
  float: left;
}

.container-ad3 {
  width: 33%;
  background-color: white;
  height: 150px;
  margin: 25px 0;
  float: left;
}

.container-foot1 {
  width: 33%;
  height: 30px;
  float: left;
  padding: none;
  margin-top: 20px;
  background-color: gray;
}

.container-foot2 {
  width: 33%;
  height: 30px;
  float: left;
  padding: none;
  margin-top: 20px;
  background-color: gray;
}

.container-foot3 {
  width: 33%;
  height: 30px;
  float: left;
  padding: none;
  margin-top: 20px;
  background-color: gray;
}



@media screen and (max-width: 640px) {

        .no-mobile {
            display:none;
        }
        /* "no-mobile" idea from: https://stackoverflow.com/questions/17762354/remove-element-for-certain-screen-sizes*/

        .full-mobile {
          width: 100%;
        }

        .topnav-mini {
          background-color: purple;
          height: 30px;
          width: 50%;
          float: left;
        }

        .topnav-buttons {
          background-color: pink;
          height: 30px;
          width: 50%;
          float: left;
        }

        .dash {
          background-color: red;
          height: 50px;
          text-align: center;
          width: 50%;
          float: left;
        }

        .mobile-bar1 {
          width: 30%;
          float: left;
        }

        .mobile-bar2 {
          width: 60%;
          float: left;
        }

        .mobile-bar3 {
          width: 10%;
          float: left;
        }

        .container-task {
          width: 100%;
          background-color: orange;
          height: 150px;
          float: left;
        }

        .container-analytics {
          width: 100%;
          background-color: brown;
          height: 180px;
          float: right;
        }

        .container-rec {
          width: 100%;
          background-color: gray;
          height: 300px;
          float: left;
        }

        .container-contacts {
          width: 100%;
          background-color: teal;
          height: 170px;
          float: right;
        }

        .container-callout {
          width: 100%;
          background-color: violet;
          height: 100px;
          float: right;
        }

        .container-ads {
          width: 100%;
          background-color: blue;
          height: 500px;
          float: left;
        }

        .container-ad1 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-ad2 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-ad3 {
          width: 100%;
          background-color: white;
          height: 150px;
          margin: 25px 0;
          float: left;
        }

        .container-foot1 {
          width: 100%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

        .container-foot2 {
          width: 50%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

        .container-foot3 {
          width: 50%;
          height: 30px;
          float: left;
          padding: none;
          margin-top: 20px;
          background-color: gray;
        }

}
